<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="side-nav-container">
    <div class="left-bar">
      <div class="cards" *ngFor="let resp of leftNav">
        <mat-card class="cards">
          <h4>
            <b>{{ resp.name }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ resp.position }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ resp.weight }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ resp.symbol }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ resp.position }}
          </h4></mat-card
        >
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="col-md-12 right-bar">
      <div class="docs-component-view-text-content">
        <div class="docs-api">
          <table class="docs-api-method-table">
            <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="3" class="docs-api-method-name-cell">
                  Higher Level
                </th>
              </tr>
            </thead>
            <mat-divider></mat-divider>
            <thead>
              <tr class="docs-api-method-name-row">
                <th class="docs-api-method-name-cell">
                  ID
                </th>
                <th class="docs-api-method-name-cell">
                  Bid Period
                </th>
                <th class="docs-api-method-name-cell">
                  Pay Period
                </th>
                <th class="docs-api-method-name-cell">
                  Domicile
                </th>
                <th class="docs-api-method-name-cell">
                  Fleet
                </th>
                <th class="docs-api-method-name-cell">
                  Seat
                </th>
                <th class="docs-api-method-name-cell">
                  Line Type
                </th>
                <th class="docs-api-method-name-cell">
                  Duty Days
                </th>
                <th class="docs-api-method-name-cell">
                  Beg Line Credit
                </th>
                <th class="docs-api-method-name-cell">
                  Beg Pay Credit
                </th>
                <th class="docs-api-method-name-cell">
                  Ending Line Credit
                </th>
                <th class="docs-api-method-name-cell">
                  Ending Pay Credit
                </th>
                <th class="docs-api-method-name-cell">
                  Final Value Credit Cap
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="docs-api-method-description-row"
                *ngFor="let resp of arrValue"
              >
                <td>
                  {{ resp.position }}
                </td>
                <td>
                  {{ resp.name }}
                </td>
                <td>
                  {{ resp.weight }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
                <td>
                  {{ resp.weight }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
                <td>
                  {{ resp.position }}
                </td>
                <td>
                  {{ resp.name }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
                <td>
                  {{ resp.weight }}
                </td>
                <td>
                  {{ resp.position }}
                </td>
                <td>
                  {{ resp.name }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 right-bar">
      <div class="docs-component-view-text-content">
        <div class="docs-api">
          <table class="docs-api-method-table">
            <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="3" class="docs-api-method-name-cell">
                  SIK
                </th>
              </tr>
            </thead>
            <mat-divider></mat-divider>
            <thead>
              <tr class="docs-api-method-name-row">
                <th class="docs-api-method-name-cell">
                  Sikness
                </th>
                <th class="docs-api-method-name-cell">
                  Vac
                </th>
                <th class="docs-api-method-name-cell">
                  Mil
                </th>
                <th class="docs-api-method-name-cell">
                  Tripboard
                </th>
                <th class="docs-api-method-name-cell">
                  Open Time Pickups
                </th>
                <th class="docs-api-method-name-cell">
                  Premium
                </th>
                <th class="docs-api-method-name-cell">
                  Ja
                </th>
                <th class="docs-api-method-name-cell">
                  Deficit
                </th>
                <th class="docs-api-method-name-cell">
                  Credit Cap
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="docs-api-method-description-row"
                *ngFor="let resp of arrValue"
              >
                <td>
                  {{ resp.position }}
                </td>
                <td>
                  {{ resp.name }}
                </td>
                <td>
                  {{ resp.weight }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
                <td>
                  {{ resp.weight }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
                <td>
                  {{ resp.position }}
                </td>
                <td>
                  {{ resp.name }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 right-bar">
      <div class="docs-component-view-text-content">
        <div class="docs-api">
          <table class="docs-api-method-table">
            <thead>
              <tr class="docs-api-method-name-row">
                <th colspan="3" class="docs-api-method-name-cell">
                  VAC
                </th>
              </tr>
            </thead>
            <mat-divider></mat-divider>
            <thead>
              <tr class="docs-api-method-name-row">
                <th class="docs-api-method-name-cell">
                  Sikness
                </th>
                <th class="docs-api-method-name-cell">
                  Vac
                </th>
                <th class="docs-api-method-name-cell">
                  Mil
                </th>
                <th class="docs-api-method-name-cell">
                  Tripboard
                </th>
                <th class="docs-api-method-name-cell">
                  Open Time Pickups
                </th>
                <th class="docs-api-method-name-cell">
                  Premium
                </th>
                <th class="docs-api-method-name-cell">
                  Ja
                </th>
                <th class="docs-api-method-name-cell">
                  Deficit
                </th>
                <th class="docs-api-method-name-cell">
                  Credit Cap
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="docs-api-method-description-row"
                *ngFor="let resp of arrValue"
              >
                <td>
                  {{ resp.position }}
                </td>
                <td>
                  {{ resp.name }}
                </td>
                <td>
                  {{ resp.weight }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
                <td>
                  {{ resp.weight }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
                <td>
                  {{ resp.position }}
                </td>
                <td>
                  {{ resp.name }}
                </td>
                <td>
                  {{ resp.symbol }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
