.example-container {
  height: 100%;
  border: 1px solid #555;
}

// .mat-cell {
//   border-bottom-width: 12px;
//   height: 60px;
// }
// .customWidthClass{
//     width: 20%;
// }
// .mat-row{
//     border: 1px solid #ccc;
// }

.side-nav-container {
  width: 400px;
}

.mat-table {
  width: 1380px;
  margin: 20px 0px 0px 10px;
}

.left-bar {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
.cards {
  padding: 10px 2px;
}

.docs-api table,
.docs-markdown-table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.docs-api-method-name-row,
.docs-api-method-parameter-row,
.docs-api-properties-name-cell {
  font-family: Roboto Mono, monospace;
  font-weight: 600;
}
.docs-api th,
.docs-markdown-th {
  background: #f5f5f5;
}
.docs-api th,
.docs-markdown-th {
  font-weight: bold;
  max-width: 100px;
  padding: 13px 16px;
  text-align: left;
}
.docs-api {
  max-width: 100%;
}

.docs-component-api,
.docs-component-overview {
  width: 80%;
  display: -webkit-inline-box;
  /* display: inline-flex; */
}