<!-- <div class="flight-engine">
  <div class="container">
    <div class="tabing">
      <div class="tab-content">
        <tabset>
          <tab id="1" class="active1" heading="Origin/Destination">
            <div class="flight-tab row">
              <div class="persent-one">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="Origin" [(ngModel)]="flight.origin">
              </div>
              <div class="persent-one">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="Destination" [(ngModel)]="flight.destination">
              </div>
              <div class="persent-one less-per">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [(ngModel)]="flight.date">
              </div>

              <div class="persent-one less-btn">
                <input type="Submit" name="submit" value="Search" class="btn btn-info btn-md" id="srch" (click)="getFlightDetails()">
              </div>
            </div>
          </tab>
          <tab id="2" class="tab1" heading="Flight Number">
            <div class="flight-tab row">
              <div class="persent-one">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="Flight Number">
              </div>

              <div class="persent-one less-per">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <input type="text" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
              </div>

              <div class="persent-one less-btn">
                <input type="Submit" name="submit" value="Search" class="btn btn-info btn-md" id="srch">
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>